:root {
  --branding-color: #d94b5a;
  --secondary-color: #eccdce;
  --text-color: #5b383b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.main-page-header {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/890/original/Design_sem_nome-4.png?1710346558");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: var(--text-color);
  padding: 200px 0;
}

.main-page-header h1 {
  font-family: var(--main-font);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 8px;
}

.main-page-header h1 span {
  color: var(--branding-color);
}

.main-page-header h3 {
  font-family: var(--main-font);
  font-size: 28px;
  font-weight: 200;
}

.explore-button {
  background-color: var(--branding-color);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin-top: 15px;
}

h2 {
  color: var(--text-color);
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--main-font);
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 28px;
}

.about-us-paragraph {
  font-family: var(--secondary-font);
  font-weight: 200;
  width: 810px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  max-width: 100%;
}

.about-us-line {
  width: 60%;
  margin: 20px auto 0;
  border: 1px solid var(--branding-color);
}

.contact-container {
  background-color: var(--secondary-color);
  width: 70%;
  margin: 50px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-container h4 {
  font-family: var(--main-font);
  font-weight: 200;
  color: var(--text-color);
  margin-left: 120px;
  margin-bottom: 15px;
}

.contact-container p {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  color: var(--text-color);
  margin-left: 120px;
}

.contact-us-link {
  text-decoration: none;
  color: white;
  font-family: var(--secondary-font);
  font-size: 12px;
  background-color: var(--branding-color);
  padding: 10px 30px;
  border-radius: 50px;
  text-transform: uppercase;
}

footer {
  background-color: var(--branding-color);
  color: white;
  font-size: 10px;
  text-align: center;
  margin-top: 50px;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: var(--secondary-font);
}

@media (max-width: 1024px) {
  .main-page-header {
    background: none;
    background-color: var(--secondary-color);
    padding: 100px 0;
  }

  .main-page-header h1 {
    font-size: 40px;
  }

  .main-page-header h3 {
    font-size: 20px;
  }

  .about-us-paragraph {
    font-size: 13px;
  }

  h2 {
    font-size: 20px;
  }

  .about-us-line {
    width: 90%;
  }

  .images-grid {
    width: 300px;
    margin-bottom: 15px;
  }

  .contact-container {
    width: 100%;
    padding-left: 0;
  }

  .contact-container p {
    display: none;
  }

  .contact-us-link {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    font-size: 10px;
  }
}

/* Recipes Pagen */
.recipes-page-header h1 {
  font-family: var(--main-font);
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}

.recipes-page-header p {
  font-family: var(--secondary-font);
  color: var(--text-color);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.recipes-buttons {
  border: none;
  width: 120px;
  padding: 6px 0;
  border-radius: 50px;
  color: white;
  background-color: var(--branding-color);
  font-size: 12px;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.recipe-images {
  background-color: #eccdce;
  max-width: 100%;
}

.recipe-title-container {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 30px 60px 0;
}

.recipe-title-container h5 {
  font-family: var(--main-font);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.recipe-title-container p {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
}
.recipe-content-title {
  color: var(--branding-color);
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 6px;
}

.ingredients-method-line {
  width: 83%;
  margin: 0 auto;
  border: 1px solid var(--branding-color);
  margin-bottom: 6px;
}

.ingredients-list {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 15px;
}

.ingredients-list p {
  margin: 5px 0;
}

.ingredients-line-divider {
  width: 80%;
  border: 1px solid var(--branding-color);
  margin: 0;
}

.recipe-method {
  font-family: var(--secondary-font);
  font-size: 15px;
  color: var(--text-color);
  line-height: 1.7;
}
