:root {
  --branding-color: #c9a64c;
  --secondary-color: rgb(3, 3, 3);
  --text-color: rgb(124, 124, 124);
  --main-font: "Quicksand", sans-serif;
  --secondary-font: "Noto Serif Georgian", serif;
}

.nav-link {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-weight: 100px;
}

.nav-link:hover {
  color: var(--branding-color);
  transition: 200ms all;
}

.navbar-nav .nav-link.active {
  color: var(--branding-color);
  font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 20px;
}

.bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0) !important;
}

.main-page-header {
  color: var(--text-color);
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/120/133/original/h4-background-2.jpg?1711042133");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 780px;
  max-width: 100%;
}

.header-content {
  margin-top: 50px;
  padding-top: 100px;
  margin-left: 700px;
}

.header-content h1 {
  text-align: center;
  font-size: 70px;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: lighter;
}

.header-content .line-break {
  border-bottom: solid;
  border-color: var(--branding-color);
  border-width: 1px;
  width: 200px;
  margin: 10px auto 0;
}

.header-content p {
  text-align: center;
  margin-top: 25px;
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

.explore-button {
  background-color: var(--secondary-color);
  padding: 13px 71px;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--main-font);
  letter-spacing: 5px;
  line-height: 21px;
  display: block;
  margin: 36px auto 0;
}

.explore-button:hover {
  background-color: var(--branding-color);
  transition: all 200ms;
  cursor: pointer;
  opacity: 0.8;
}

h2 {
  color: var(--branding-color);
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--main-font);
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 28px;
}

.about-us-paragraph {
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-weight: 300;
  width: 810px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 26px;
  max-width: 100%;
}

.about-us .line-break {
  border-bottom: solid;
  border-color: var(--branding-color);
  border-width: 1px;
  width: 600px;
  margin: 30px auto 0;
}

.image-column {
  position: relative;
}

.image-column .text {
  font-family: var(--main-font);
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  font-weight: 100;
}

.image-column .text a {
  text-decoration: none;
  color: white;
}

.image-column .overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.image-column:hover .overlay {
  opacity: 1;
  transition: 150ms all;
  cursor: pointer;
}

.contact-container {
  display: flex;
  background-color: var(--branding-color);
  color: white;
  width: 80%;
  margin: 40px auto;
  padding: 20px 50px;
}

.contact-container .text {
  width: 70%;
  margin-right: 100px;
}

.contact-container h4 {
  font-family: var(--main-font);
  font-weight: 400;
}

.contact-container p {
  font-family: var(--main-font);
  font-weight: 200;
  line-height: 26px;
}

.contact-container .contact-us-link {
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  text-transform: uppercase;
  background-color: black;
}

footer {
  background-color: black;
  font-family: var(--secondary-font);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 50px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.769);
}

footer a {
  text-decoration: none;
  color: white;
  font-family: var(--secondary-font);
  opacity: 0.9;
}

footer a:hover {
  color: #c9a64c;
  opacity: 0.7;
  cursor: pointer;
}

/* Recipes Page */
.secondary-pages-header h1 {
  background-color: #fafafa;
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 50px 70px;
}

.recipes-buttons {
  display: inline-block;
  text-decoration: none;
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.893);
  background-color: var(--branding-color);
  text-transform: uppercase;
  font-size: 13px;
  font-family: var(--main-font);
  font-weight: 300;
  letter-spacing: 2px;
  width: 200px;
  cursor: pointer;
  padding: 10px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recipes-buttons:hover {
  background-color: var(--secondary-color);
  transition: all 150ms ease;
}

.recipes-images-container {
  background-color: #fafafa;
}

.recipe-images {
  background-color: #eccdce;
  max-width: 100%;
  width: 280px;
}

.recipe-title-container {
  color: var(--text-color);
  padding: 30px 0;
  background-color: #fafafa;
}

.recipe-title-container h5 {
  font-family: var(--main-font);
  color: var(--branding-color);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.recipe-title-container p {
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.7px;
  margin-right: 30px;
}

.time-serves-container {
  font-weight: 300;
  margin-top: 60px;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.time-serves {
  color: var(--branding-color);
}

.time-serves-details {
  color: var(--text-color);
  font-family: var(--secondary-font);
  margin-right: 10px;
}

.recipe-description-title {
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--branding-color);
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 6px;
}

.ingredients-method-line {
  border-bottom: solid;
  border-color: var(--branding-color);
  border-width: 1px;
  width: 83%;
  margin: 0 auto;
  margin-bottom: 6px;
}

.recipe-description-container {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 15px;
  line-height: 1.7;
  font-weight: 300;
}

.ingredients-list p {
  margin: 5px 0;
}

.ingredients-line-divider {
  border-bottom: solid;
  border-color: var(--branding-color);
  border-width: 1px;
  width: 80%;
  margin: 0;
}

/* Tips and Tricks Page */

.tips-number-container {
  background-color: #fafafa;
}

.tips-number {
  font-size: 120px;
  text-align: center;
  margin: 0;
  color: var(--branding-color);
  font-weight: lighter;
}

.tips-content-container h5 {
  font-family: var(--main-font);
  color: var(--branding-color);
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 18px;
}

.tip-line-divider {
  border-bottom: solid;
  border-color: var(--branding-color);
  border-width: 1px;
  width: 20%;
  margin-bottom: 10px;
}

.tips-text {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.7px;
}

/* Contact Page */

.contact-page-header {
  text-align: center;
}

.contact-us {
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 600;
  margin-left: 220px;
}

form input {
  display: block;
  width: 100%;
  margin: 0;
  background-color: #d9d9d9;
  border: none;
  font-size: 14px;
  padding: 0 5px 5px;
  font-family: var(--main-font);
}

.name-email-form {
  margin-bottom: 7px;
}

.message-form-input {
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  font-size: 14px;
  padding: 0 5px;
  font-family: var(--main-font);
}

.send-button {
  background-color: var(--branding-color);
  border-radius: 50px;
  color: white;
}

.contacts {
  background-color: var(--secondary-color);
  color: white;
  padding-top: 10px;
  padding-left: 15px;
}

.contacts h4 {
  font-family: var(--main-font);
  font-size: 18px;
}

.contacts p {
  font-family: var(--secondary-font);
  font-size: 14px;
}
